<div style="text-align: center;">
  <h1>Inserisci il numero di fattura</h1>
  <input [(ngModel)]="donumdoc" placeholder="Numero fattura">
  <button (click)="fetchFattura()">Ottieni dati di fatturazione</button>

  <mat-spinner *ngIf="isLoading" style="margin: 20px auto;"></mat-spinner>

<div *ngIf="notification" style="color: red; margin-top: 10px;">
  {{ notification }}
</div>

  <div *ngIf="fattura && fattura.righe.length > 0">
    <h2>Dettagli fattura:</h2>
    <div>
      <strong>Numero Fattura:</strong> {{ fattura.testata.numfac }}<br>
      <strong>Data:</strong> {{ fattura.testata.fentrega }}<br>
      <strong>Base Imponibile:</strong> {{ fattura.testata.baseimp1 | currency:'EUR':'symbol':'1.2-2' }}<br>
      <strong>Totale Netto:</strong> {{ fattura.testata.sumnetos | currency:'EUR':'symbol':'1.2-2' }}<br>
      <strong>Sconto:</strong> {{ fattura.testata.descuen | currency:'EUR':'symbol':'1.2-2' }}
    </div>

    <div style="margin-top: 20px;"></div>

    <app-fattura-grid [righe]="fattura.righe"></app-fattura-grid>

<div *ngIf="error" style="color: red;">
  <app-error-message [message]="error"></app-error-message>
</div>
</div>
</div>